.gameHeader{

    margin-left: 100px;
    width: 400px;
    height: 30px;
    border: 10px solid darkgray;
    background-color: grey;
}
.gameBody {
    margin-top: 50px;
    margin-left: 100px;
    width: 400px;
    height: 420px;
    background-color: grey;
    border: 10px solid darkgray;
}

.mineGrid {
    width: 76px;
    height: 80px;
    border: 2px solid darkgray;
    background-color: lightgrey;
    float: left;
    box-shadow: inset 2px 2px 2px 3px black;
}

body {
    color: white;
    font-size: 25px;
}

#totalMines {
    color: red;
}
#safeGrid {
    color: blue;
}