.gameHeader{
    margin-top: 50px;
    margin-left: 100px;
    width: 610px;
    height: 30px;
    border: 10px solid darkgray;
    background-color: grey;
    border-bottom-color: black;
    box-shadow: 5px 5px 5px black;
}
.gameBody {

    margin-left: 100px;
    width: 400px;
    height: 420px;
    background-color: grey;
    border: 10px solid darkgray;
    float: left;
    box-shadow: 5px 5px 5px black;
}

.sideBar{
    float: left;
    height: 420px;
    width: 200px;
    border: 10px solid darkgray;
    border-left: 0;
    font-size: 15px;
    text-align: center;
    background-color: black;
    box-shadow: 5px 5px 5px black;
}

.mineGrid {
    width: 76px;
    height: 60px;
    border: 2px solid darkgray;
    background-color: lightgrey;
    float: left;
    box-shadow: inset 2px 2px 2px 3px black;
    padding-top: 20px;
    text-align: center;
    background-image: url("../img/bomb.svg");

}

body {
    color: white;
    font-size: 40px;
    z-index: 0;
    position: relative;
}

#totalMines {
    color: black;
    background-color: gray;
    padding-top: 10px;
    height: 50px;
    padding-bottom: 10px;
    border: 2px solid black;
}
#safeGrid {
    padding-top: 10px;
    padding-bottom: 10px;
    color: darkblue;
    background-color: lightgrey;
    height: 50px;

    border: 2px solid black;


}

#winStreak {
    padding-top: 10px;
    padding-bottom: 10px;
    color: aquamarine;
    background-color: darkgray;
    border: 2px solid black;

    height: 50px;
}

#mostCleared {
    padding-top: 10px;
    padding-bottom: 10px;
    color: red;
    background-color: lightgray;
    border: 2px solid black;

    height: 50px;
}

#winLoss {
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    background-color: darkgray;
    border: 5px solid silver;
    border-radius: 20%;
    height: 95px;
}